<h1>{{ config.title }}</h1>
{{#if config.introduction }}
  {{#if config.avatar}}
    <img class="pulled-left avatar" src="{{ config.avatar }}" height="80" width="80" alt="Avatar image" />
  {{/if}}
  <p class="introduction">{{config.introduction}}</p>
  <div class="clear"></div>
{{/if}}

{{#if loggedIn }}
  <div id="admin">
    <div id="admin-close" class="pulled-right clickable" title="Close">X</div>
    <form method="post" action="/brags/create">
        <textarea id="editor" name="contents" rows="5" cols="80" placeholder="Type your brag, in Markdown." required></textarea>
        <input type="submit" value="Create" />
        <hr class="small-margin" />
        <div id="compiled-markdown"></div>
    </form>
    <a href="/logout" class="pulled-right">Logout</a>
  </div>
{{/if}}

<div class="brags-container">
  {{#each brags}}
    <div class="brag">
      {{{ markdown body }}}
      <div class="date"><span title="{{ date publication }}">{{ relative publication }}</span></div>
      {{#if ../loggedIn }}
        <div class="admin-options">
          <a href="https://twitter.com/intent/tweet?text={{ urlencode body }}" target="_blank" rel="noreferrer">tweet</a>
          - <a href="/brags/{{ id }}/delete" class="danger">delete</a>
        </div>
      {{/if}}
    </div>
  {{ else }}
    {{#if firstPage }}
      <p>No contents found. Please <a href="/login">login</a> to start posting updates.</p>
    {{/if}}
  {{/each}}
</div>

{{#if nextOffset }}
  <a href="?offset={{ nextOffset }}">&gt;&gt; Next page</a>
{{/if}}
