<h1>{{ config.title }}</h1>
{{#if loggedIn }}
    <form method="post" action="/brags/create">
        <textarea name="contents" rows="5" cols="80" placeholder="Type your brag, in Markdown." required></textarea>
        <input type="submit" value="Create" />
    </form>
{{/if}}

{{#if config.introduction }}
  <p class="introduction">{{config.introduction}}</p>
{{/if}}

<div class="brags-container">
  {{#each brags}}
    <div class="brag">
      {{{ markdown body }}}
      <div class="date">Posted: <span title="{{ date publication }}">{{ relative publication }}</span></div>
      {{#if ../loggedIn }}
        <div class="admin-options"><a href="https://twitter.com/intent/tweet?text={{ urlencode body }}" target="_blank" rel="noreferrer">Tweet</a></div>
      {{/if}}
    </div>
  {{/each}}
</div>
